<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue Basics</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles.css" />
    <script src="https://unpkg.com/vue@next" defer></script>
    <script src="app.js" defer></script>
  </head>
  <body>
    <header>
      <h1>Monster Slayer</h1>
    </header>
    <div id="game">
      <section id="monster" class="container">
        <h2>Monster Health</h2>
        <div class="healthbar">
          <div class="healthbar__value" :style="monsterBarStyle">{{ monsterHealth }}</div>
        </div>
      </section>
      <section id="player" class="container">
        <h2>Your Health</h2>
        <div class="healthbar">
          <div class="healthbar__value" :style="playerBarStyle">{{ playerHealth }}</div>
        </div>
      </section>
      <section id="gameResult" class="container" v-if="gameIsOver">
        <h2>Game Over</h2>
        <h3 v-if="winner === 'Player'">You win!</h3>
        <h3 v-else-if="winner === 'Monster'">You lose!</h3>
        <h3 v-else>It's a draw!</h3>
        <button @click="startGame">Start New Game</button>
      </section>
      <section id="controls" v-else>
        <!-- Player攻击Monster的同时，Monster会反击Player -->
        <button @click="attackMonster()">ATTACK</button>
        <button :disabled="mayUseSpecialAttack" @click="specialAttackMonster()">SPECIAL ATTACK({{specialCount}})</button>
        <button @click="healPlayer()">HEAL</button>
        <button @click="playerSurrender()">SURRENDER</button>
      </section>
      <section id="log" class="container">
        <h2>Battle Log</h2>
        <ul>
          <li v-for="battleLog in battleLogs">
            <span :class="{'log--player': battleLog.actionBy === 'Player', 'log--monster': battleLog.actionBy === 'Monster'}">{{ battleLog.actionBy }}</span>
            <span v-if="battleLog.actionType === 'heal'"> heals himself <span class="log--heal">{{ battleLog.actionValue }}</span>.</span>
            <span v-else> <span v-if="battleLog.actionType === 'specialAttack'"><b> SPECIAL</b></span> attacks and deals <span class="log--damage">{{ battleLog.actionValue }}</span>.</span>
          </li>
        </ul>
      </section>
    </div>
  </body>
</html>
