* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-weight: 500;
  min-height: 100vh;
  line-height: 1.5;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
      Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
}

#app {
  width: 100%;
  margin: 0;
  padding: 1rem;
  font-weight: normal;
  display: flex;
  flex-direction: row;
}
